h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45pt;
    
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 80%;
}

.texto{   
    position:inherit;
    text-align: center;
background-color: yellow;
opacity: 80%;
margin: 0 5em;
padding: 10px;
}

.texto p{
    text-align: center;
    margin: 15px;
    padding: 10px;
    font-size: 14pt;
}

.imagen{
    position: relative;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 40%;
    opacity: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}