h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45pt;
    
    margin-top: -50px;
    margin-bottom: -5px;
    opacity: 80%;
}

h3{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
    margin-top: 5px;
    opacity: 80%;
}

.titulo{
    
    opacity: 85%;
}

video{
    position: relative;
    margin: 0 auto;
    display: block;
    width:84%;
    opacity: 100%;
    
  }